.baseButton {
  padding: 18px 36px 18px 36px;
  background-color: #F4F4F4;
  min-width: 170px;
  width: fit-content;
  height: 68px;
  border-radius: 20px;
  border-color: transparent;
  font-family: Mulish;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px ;
  cursor: pointer;
} 