.personPhoto {
  height: 509px;
  width: 353px;
  margin-left: 100px;
  margin-top: 50px;
}

.projectLeftBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 950px; */
  height: 100%;
  padding-top: "30px";
  margin-right: 0;
  flex: 1 1 0px;
  width: 0;
}

.projectRightBlock {
  background-color: rgb(0, 156, 50);
  margin-left: 0px;
  flex: 1 1 0px;
  width: 0;
}

.projectAkBarsLogoImage {
  height: 66px;
  width: 236px;
}

.denetLogoImage {
  height: 55px;
  width: 347px;
}

.titleH2 {
  margin-left: 64px;
  margin-top: 100px;
  font-size: 82px;
  font-weight: 500;
  line-height: 106.6px;
}

.projectPhoneImg {
  height: 800px;
}

.web3PhoneImg {
  height: 812px;
  background: linear-gradient(180deg, rgba(18, 19, 19, 0) 84.65%, rgba(18, 19, 19, 0.48) 100%);

}